*data/SdfSamples*
*__pycache__*
*debug_experiment*
*LatentCodes*
*Reconstructions*
*ModelParameters*
*OptimizerParameters*
*Screenshots*
*.out
*.ipynb_checkpoints
*data/geometry*
*data/meshs*
*simulations/*
*notebook_outputs*
*.egg-info*
**/ParaView/*
*.egg-info